@media (min-width: 700px){
    .loader{
        
        
       
        width: 55%;   
        height: 40%;
       
    }
    
    
    .footer-list li{
        display: inline;
        margin-right: 3em;
          
    }
    .titre{
        text-align: center;
    }
    .fonc-list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        
    }
    .fonc-placement::before{
        position: relative;
        left: -15%;
    }

    .restaurants-cartes{
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 1.5em;
        row-gap: 1.5em;
    }
    .carte1{
        grid-column-start: 1;
        grid-row-start: 1;
        background-color: white;
        border-radius: 1em;
    }
    .carte-2{
        grid-column-start: 2;
        grid-row-start: 1;
        background-color: white;
        border-radius: 1em;
    }
    .carte-3{
        grid-column-start: 1;
        grid-row-start: 2;
        background-color: white;
        border-radius: 1em;
    }
    .carte-4{
        grid-column-start: 2;
        grid-row-start: 2;
        background-color: white;
        border-radius: 1em;
    }
    .carte-popup {
        position: relative;
        float:right;
        bottom: 200px;
        
        
        
        
    }
    /*_________________ LES MENUS________________*/
    
    .titre-logo{
        text-align: center;
        
    }
    .icon-heart{
        float:none;
        margin-left: 5em;
         
    }

    .grid{
        display: grid;
        grid-template-columns:1fr 1fr ;
        grid-template-rows: 1fr 1fr ;
        row-gap: 5.5em;
        
    }
    
    
    .entrees{
        grid-column-start: 1;
        grid-row-start: 1;
        
    }
    .plats{
        grid-column-start: 2;
        grid-row-start: 1;
    }
    .desserts{
        grid-column-start: 1;
        grid-row-start: 2;
    }
    .description-menu,
    .description-menu2,
    .description-menu3,
    .description-menu4,
    .description-menu5,
    .description-menu6,
    .description-menu7,
    .description-menu8,
    .description-menu9,
    .description-menu10{
        width: 80%;
    }
}